<div class="container mt-5">
    <div class="text-center">
      <h1>Welcome to BookNest</h1>
      <p class="lead mt-4">
        BookNest is a vibrant social media platform designed for authors and book enthusiasts. Whether you're an aspiring writer, a seasoned author, or simply a lover of literature, BookNest provides a community where you can connect, share, and discover new books. Dive into a world of stories, engage with fellow book lovers, and let your passion for reading flourish.
      </p>
      <img src="/booknestBG.jpg" alt="BookNest" class="img-fluid mt-4" style="max-width: 600px;">
    </div>
  </div>
  